.contact_form {
    margin: 0 auto;
    width: 500px;
  }
  
  form > input[type="text"],
  input[type="email"],
  textarea {
    border: none;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    padding-bottom: 25px;
    width: 500px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea::-webkit-input-placeholder {
    font-weight: 800;
  }
  
  input[type="text"],
  input[type="email"],
  textarea:-ms-input-placeholder {
    font-weight: 800;
  }
  
  input[type="text"],
  input[type="email"],
  textarea::-ms-input-placeholder {
    font-weight: 800;
  }
  
  input[type="text"],
  input[type="email"],
  textarea::placeholder {
    font-weight: 800;
  }