nav {
    background-color: #343a40;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav_menu {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu_logo {
    display: flex;
    justify-content: center;
    flex: 2;
    font-weight: bold;
    font-size: 20px;
}

.menu_options {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.menu_btn_mobile {
    display: none;
}

a,
a:visited {
    color: #ffffff;
    text-decoration: none;
}