@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.btn_green {
  background-color: #53bd9d;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}